<div class="wrapper">
  <div class="icon-close">
    <button class="btn" (click)="cerrar_modal()">
      <i class="bi bi-x-lg"></i>
    </button>
  </div>
  <div class="body-modal">
    <h1 class="title-modal">Confirmar cita</h1>
    <span class="descripcion">
      Estás a punto de confirmar esta cita. Una vez confirmada, quedará registrada en el sistema.
    </span>
    <div class="buttons-modal">
      <button mat-button class="btn-regresar" (click)="cerrar_modal()">
        Cancelar
      </button>
      <button mat-button class="btn-eliminar" (click)="confirmarCita()">
        Confirmar
      </button>
    </div>
  </div>
</div>
